* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    line-height: 1.75;
    color: #333;
    background-color: #fff;
}

header {
    background: #005a8f 100%;
    color: white;
}

.site-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    opacity: 0.9;
}

nav {
    padding: 1rem 1rem;
    position: sticky;
    top: 0;
}

.nav-content {
    max-width: 1200px;
    margin: 0;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem 0;
    white-space: nowrap;
    transition: opacity 0.1s;
}

nav a:hover {
    opacity: 0.8;
}

main {
    max-width: 900px;
    margin: 3rem auto 3rem;
    padding: 0 2rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
    font-weight: 700;
    color: #0077be;
}

h2 {
    font-size: 1.8rem;
    margin: 1rem 0 1rem;
    color: #0077be;
    font-weight: 600;
}

hr {
    color: grey;
    opacity: 0.1;
    margin-bottom: 2rem;
}

p {
    text-align: justify;
    margin-bottom: 0.5rem;
    color: #555;
}

footer {
    background-color: #1a1a1a;
    color: white;
    padding: 0.5rem;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    text-align: center;
}

img {
    margin-top: 2%;
    margin-bottom: 2%;
}

.report-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin: 2rem 0;
}

.topic-card {
    background: #f8f9fa;
    padding: 1.5rem;
    border-radius: 8px;
    transition:
        transform 0.2s,
        box-shadow 0.2s;
    cursor: pointer;
}

.topic-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.topic-card h3 {
    color: #0077be;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.topic-card a {
    color: #555;
}

.topic-card p {
    text-align: left;
}

.topic-card img {
    width: 100%;
}

.player {
    margin-top: 1rem;
    aspect-ratio: 16/9;
    width: 100%;
}
